/* colors 
    yellow: #FBE7C6;
    mint: #B4F8C8;
    light mint: #E6FAEC;
    tiffiny blue: #A0E7E5;
    hot pink: #FFAEBC;
*/
/* ----------------------------- mobile (375px) -----------------------------*/

*{
    padding:0;
    margin:0;
    box-sizing: border-box;

}

body{
    font-family: "Poppins", sans-serif;
    
}

h1{
    font-weight: 400;
    text-align: center;
    font-size: 60px;
    margin: 0;
    padding: 30px 30px 10px 30px;

}

h2{
    font-size: 40px;

}

h3{
    font-size: 30px;
    line-height: 1;
    
}

#home .hero p{
    font-size: 20px;
    line-height: 30px;
    padding-top:20px;

}

#home .hero{
    background-color: #e6faec;
    border-radius: 15px;
    padding:50px 30px;
    
}

header{
    margin-top:20px;

}

header img{
    width:190px;

}

#content p{
    font-size:18px;

}

img{
    width: 100%;
   
}

ul{
    list-style: none;
    padding: 0;
    justify-content: center;
    width: 100%;

}

nav{
    text-align: center;

}


/*--- nav hover state ---*/
.nav-link {
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    color: #000000;
    padding: 20px 0px;
    margin: 0px 0px;
    opacity: 0.75;
    display: inline-block;
    position: relative;
    
  }
  
.nav-link:hover {
    opacity: 1;

}
  
.nav-link::before {
    transition: 300ms;
    height: 5px;
    content: "";
    position: absolute;
    background-color: #FFAEBC;

}
  
.nav-link-line::before {
    width: 0%;
    bottom: 10px;

}
  
.nav-link-line:hover::before {
    width: 100%;

}
/*--- nav hover state ends ---*/

li{
    margin:2% 8%;
    
}

a{
    text-decoration: none;
    font-weight: 800;
    color:black;

}

#home section{
    margin-top:0;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    box-shadow: 5px 2px 6px rgb(186, 179, 179);

}

#home h2{
    font-weight: 700;
    color:#7ba186;

}

#report, #facts{
    background-color: #FBE7C6;
    border-radius: 15px;
    padding:40px 30px;
    
}

table{
    margin-top:20px;
    border: 3px solid white;
    border-radius: 20px;

}

th{
    padding:10px 20px;
    font-size: 20px;
    text-align: left;
    
}

tr{
    padding:20px;
   
}

th, td, tr{
    border-bottom:3px solid #ffffff;
    padding:25px;
    gap:20px;
   
}

table{
    width: 100%;
    overflow-x: auto;
    display: block;
    border-bottom:none;
    
}


.center{
    margin-left: auto;
    margin-right: auto;

}

.behavior{
    font-weight: 700;

}

#report{
    background-color: #FBE7C6;

}

#report h3{
    color:#f7b242;
    padding-bottom:20px

}

#facts{
    background-color: #A0E7E5;

}

#facts h3{
    color:#219c98;
    padding-bottom:20px

}

#facts li{
    padding-left:10px;
    margin-top:20px;

}

#facts ul {
    list-style: none;
    padding: 0;
    list-style-type: "🐾";
   
}

#facts li::marker{
    font-size: 25px;
   line-height: 0.1;

}

footer {
    color: #000000;
    padding: 90px;
    text-align: center;
    font-size: 16px;

}
  
footer a {
    color: #FFAEBC;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s;

}
  
footer a:hover {
    color: #e86d81;

}

/* -------------------- gallery page (375px) -------------------- */
#gallery{
    text-align: center;
    
}

#gallery h2{
    color:#e86d81;

}

#gallery p{
    font-weight: 600;

}

#gallery div{
    padding-bottom: 40px;

}

#gallery img{
    border: solid 2px rgba(0, 0, 0, 0.804);
    
}

.gallery {
    text-align: center;

}

  
.gallery-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;

}
  
.gallery-container img {
    width:80%;
    height: auto;
    border-radius: 8px;
    box-shadow: 5px 2px 6px rgb(186, 179, 179);

}

/* -------------------- barkedin page (375px) -------------------- */
#barkedin .hero{
    background-color: #eac2c9;
    border-radius: 15px;
    padding:30px;
    display: flex;
    flex-direction: column;
    
}

#barkedin .hero h2{
    line-height: 50px;
    padding-top:20px;

}

#barkedin .hero p{
    font-size: 20px;
    line-height: 30px;
    padding-top:20px;

}


#barkedin section{
    margin-top:0;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    box-shadow: 5px 2px 6px rgb(186, 179, 179);

}



/* --------------------------- (Tablet ~ 750px) ---------------------------*/
@media(max-width:750px){
    #home .hero img{
        display:none;

    }

    #barkedin .hero img{
        display:none;

    }

}



@media only screen and (min-width: 750px) {
    header{
        display:flex;
        justify-content: space-between;

    }

    nav ul{
        display:flex;
        flex-direction: row;
        padding:20px;

    }

    nav li{
        padding:30px;
        margin:0;

    }

    #home .hero{
        padding: 10%;
        display: flex;
        align-items: center;
        gap:50px;
        
    }

    #home .hero img{
        width: 200px;
        display: block;
        margin-left: auto;
        margin-right: auto;

    }

    #report, #facts{
        padding:80px;
        
    }
/* -------------------------BARKEDIN--------------------------*/
    #barkedin .hero{
        padding: 10%;
        display: flex;
        align-items: center;
        gap:20px;
        
    }

    #barkedin .hero img{
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;

    }


/* ------------------------- GALLERY --------------------------*/
    .gallery-container {
        flex-direction: row;
        
    }

    .gallery-container img {
        width:30%;
        height: auto;
        
    }

}



/* --------------------------- (Desktop ~ 1024px) ---------------------------*/
@media only screen and (min-width: 1024px) {

    body{
        max-width: 1000px;
        margin: auto;

    }

    #home .hero{
        padding: 100px;
        
    }

}




